@use "variables" as *;
@use '../base/typographie';

body {
    margin: 0;
    padding: 0;

    color: $color-primary;
    line-height: 1.6;

    background-image: url('../../img/fond1.png');
    background-size: 2000px;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Libre_Baskerville', sans-serif;

    h1, h2, h3{
        font-family: 'Cinzel',sans-serif;
    }
}


