@use "variables" as *;

body {
    margin: 0;
    padding: 0;

    color: $color-primary;
    line-height: 1.6;

    background-image: url('../../img/fond1.png');
    background-size: 2000px;
    background-position: center;
    // background-attachment: fixed;
}
