body {
    margin: 0;
    padding: 0;
    font-family: $font-serif;
    color: $color-primary;
    line-height: 1.6;

    background-image: url('../img/fond1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba($color-dark, 0.55);
    z-index: -1;
}
