@use "../base/variables" as *;

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    justify-items: center; 
}

.feature-card {
    background: rgba($color-brown, 0.65);
    padding: 30px;
    border-radius: 12px;
    border: 2px solid $color-border;
    text-align: center;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     

    width: 100%;            
    max-width: 300px;       
    min-height: 350px;      

    .feature-img{
        width: 80%;         
        margin-bottom: 15px;
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 40px rgba($color-gold, 0.3);
    }
}
