@use "../base/variables" as *;

.main-navigation {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px 0px;
    margin: 30px auto 0;
    background: linear-gradient(
        to bottom,
        rgba($color-dark, 0.95),
        rgba($color-brown, 0.95)
    );
    border-radius: 40px;
    border: 2px solid $color-border;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}

.nav-link {
    color: $color-primary;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;

    &:hover {
        color: $color-gold;
        background: rgba($color-primary, 0.15);
        box-shadow: 0 0 15px rgba($color-gold, 0.4);
    }
}

.burger{
    display: none;
}
