@use "../base/variables" as *;

.section-title {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin: 80px 0 40px;
    padding: 20px;
}

.intro-section {
    padding: 80px 40px;
    text-align: center;

    .text-container {
        max-width: 800px;
        margin: auto;
    }
}

.quote-section {
    max-width: 800px;
    margin: 60px auto;
    padding: 40px;
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    background: rgba($color-brown, 0.4);
    border-left: 4px solid $color-border;
    border-radius: 10px;
}

.join-box {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background: rgba($color-brown, 0.4);
    border-radius: 10px;
    text-align: center;
}

.why-section{
    text-align: center;
}

.pillars-section{
    text-align: center;
    padding: 0;
}
