@use "base/variables";
@use "base/body";

@use "layout/navbar";
@use "layout/hero";
@use "layout/sections";
@use "layout/gallery";

@use "components/buttons";
@use "components/cards";

@use "pages/home";

@use "base/responsive";

@use "pages/login";
@use "pages/register";
