@use "base/variables";
@use "base/body";
@use "base/typographie";

@use "layout/navbar";
@use "layout/hero";
@use "layout/sections";
@use "layout/gallery";
@use "layout/footer";

@use "components/buttons";
@use "components/cards";

@use "base/responsive";


@use "pages/home";
@use "pages/login";
@use "pages/register";
@use "pages/guide";
@use "pages/horloge";
