@use "../base/variables" as *;

.adhesion-section {
    max-width: 600px;
    margin: 80px auto;
    padding: 50px;
    background: rgba($color-brown, 0.8);
    border: 3px solid $color-border;
    border-radius: 15px;
    text-align: center;
}
